<!DOCTYPE html>
<html>
<head>
  <title>Kohamass</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="alternate" type="application/atom+xml" href="/feed.xml" />
</head>
<body>

<div class="container-fluid">
  <h1>
    小浜池の水位
    <a class="btn btn-default btn-xs" href="/feed.xml">Atom</a>
  </h1>
  <table class="table table-striped">
    <tr>
      <th>日</th>
      <th>水位</th>
      <th>created_at</th>
      <th>updated_at</th>
    </tr>
    <% @water_levels.each do |level| %>
        <tr>
          <td><%= level.day %></td>
          <td><%= level.value %>cm</td>
          <td><%= level.created_at %></td>
          <td><%= level.updated_at %></td>
        </tr>
    <% end %>
  </table>
</div>

</body>
</html>
