<!DOCTYPE HTML>
<html lang="ja">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=2"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>小浜池の水位｜三島市立公園 楽寿園</title>
  <!-- <link href="style.css" rel="stylesheet" type="text/css"> -->
  <link rel="stylesheet" media="(min-width: 769px)" href="./style.css"/>
  <link rel="stylesheet" media="(max-width: 768px)" href="./v2/css/rakujyu/style.css"/>
</head>

<body>
<div id="wrap_rakujuen" class="pages">

  <!--header-->
  <div id="header">
    <h1 id="sitelogo"><a href="index.html"><img src="imgs/title_pages.jpg" width="207" height="120"
                                                alt="国指定 天然記念物・名勝　楽寿園"></a></h1>
    <div class="sub">
      <ul class="langselect">
        <div id="google-language-changer">
          <div id="google_translate_element"></div>
          <script>function googleTranslateElementInit() {
            new google.translate.TranslateElement({
              pageLanguage: 'ja',
              includedLanguages: 'en,pt,es,ko,zh-CN,zh-TW,it,fr',
              layout: google.translate.TranslateElement.InlineLayout.SIMPLE
            }, 'google_translate_element');
          }</script>
        </div>
      </ul>
      <p id="official_link"><a href="/">三島市公式ウェブサイト</a></p>
    </div>
    <!-- start sp-menu -->
    <div class="nav-main-menu">
      <button class="menu-trigger uk-button" type="button" aria-controls="nav-global" aria-expanded="false"
              uk-toggle="target: #offcanvas-overlay"><span></span></button>
    </div>
    <div class="nav-main-txt"><span>menu</span></div>
    <nav class="nav-main-nav">
      <div id="offcanvas-overlay" uk-offcanvas="overlay: false">
        <div class="uk-offcanvas-bar navfull-menu">
          <div class="uk-container uk-container-small">
            <div id="menu">
              <ul class="globalnavi">
                <!-- <li class="toppage"><a href="./">トップページ</a></li> -->
                <li><a href="shousai018678.html">営業時間・料金</a></li>
                <li><a href="shousai037994.html">アクセス</a></li>
                <li><a href="eventlist.html">イベント情報</a></li>
                <li><a href="kohamaike_current.html">小浜池の水位</a></li>
                <li><a href="../../mishima_info/rakujyuen_shizen/">楽寿園の自然</a></li>
                <li><a href="/media/05095050_pdf_201896_radB10A9.pdf" target="_blank">楽寿園の歴史(PDF)5.5MB</a></li>
                <li><a href="shousai012762.html">のりもの広場</a></li>
                <li><a href="./shousai012761.html">どうぶつ広場</a></li>
                <li><a href="shousai012764.html">楽寿館のご案内</a></li>
                <li><a href="shousai013273.html">貸出施設</a></li>
                <li><a href="shousai018737.html">各種申請(出店等)</a></li>
                <li class="rakunavi"><a href="shousai019172.html">楽寿園へ行こう～公園ナビ～</a></li>
                <li class="mishima"><a href="https://www.city.mishima.shizuoka.jp" target="_blank">三島市公式ウェブサイト</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- end sp-menu -->
  </div><!-- end id:header -->

  <!--左サイドメニュー-->
  <div id="menu">
    <ul class="globalnavi">
      <li><a href="shousai018678.html">営業時間・料金</a></li>
      <li><a href="shousai037994.html">アクセス</a></li>
      <li><a href="eventlist.html">イベント情報</a></li>
      <li><a href="kohamaike_current.html">小浜池の水位</a></li>
      <li><a href="shousai037960.html">楽寿園の自然</a></li>
      <li><a href="/media/05095050_pdf_201896_radB10A9.pdf" target="_blank">楽寿園の歴史(PDF)5.5MB</a></li>
      <li><a href="shousai012762.html">のりもの広場</a></li>
      <li><a href="shousai012761.html">どうぶつ広場</a></li>
      <li><a href="shousai012764.html">楽寿館のご案内</a></li>
      <li><a href="shousai013273.html">貸出施設</a></li>
      <li><a href="shousai018737.html">各種申請(出店等)</a></li>
      <li class="rakunavi"><a href="shousai019172.html">公園ナビ</a></li>
    </ul>
  </div><!-- end id:menu -->

  <div id="content">
    <!--パンくずリストの設定-->
    <p id="topicpath"><a href="./">ホーム</a> &gt; <a href="kohamaike_current.html">小浜池の水位</a> &gt; 小浜池の水位</p>

    <!-- 記事始まり -->
    <div id="maincontent">
      <h1>小浜池の水位（<%= month %>月）</h1>

      <!-- 概要 -->

      <div class="section">
        <div class="sec_body">
          <p>「小浜池」の水位は標高25.69ｍ（池中央付近の池底部分）を０ｃｍとし、毎日計測しています。</p>
        </div>
      </div>


      <section>

        <!-- 今月の水位表（データベースから表を作成する）2018.12改修 -->
        <table border="0" width="100%">
          <tr valign="top">
            <th align="right" width="6%">日</th>
            <th align="center" width="22%">今年の水位</th>
            <th align="center" width="22%"><a href="shousai013475.html">昨年の水位</a></th>
            <th align="center" width="22%"><a href="shousai013476.html">満水年(2011)の水位</a></th>
            <th align="center" width="28%" rowspan="32">小浜池の写真<br><br>
              <img src="/media/05046040_jpg_2013103_rad2A558.jpg" alt="小浜池水位172センチメートル"><br>
              172cm<br><br>
              <img src="/media/05065090_jpg_2013103_rad80FBF.jpg" alt="小浜池水位152センチメートル"><br>
              152cm<br><br>
              <img src="/media/05046040_jpg_2013103_radD3E2B.jpg" alt="小浜池水位91センチメートル"><br>
              91cm<br><br>
              <img src="/media/05046040_jpg_2013103_rad39216.jpg" alt="小浜池水位55センチメートル"><br>
              55cm<br><br>
              <img src="/media/05065090_jpg_2013103_rad6EF56.jpg" alt="小浜池水位24センチメートル"><br>
              24cm<br><br>
              <img src="/media/05046040_jpg_2013103_rad8E501.jpg" alt="小浜池水位渇水時"><br>
              渇水時
            </th>
          </tr>

          <% data.each do |day, water_level| %>
            <tr>
              <td bgcolor=#ffff99 align="right" valign="middle"><strong><%= day %>日</strong></td>
              <td bgcolor=#ffff99 align="right" valign="middle"><font color="#000000"><%= water_level %></font></td>
              <td bgcolor=#ffff99 align="right" valign="middle"><font color="#000000">82</font></td>
              <td bgcolor=#ffff99 align="right" valign="middle"><font color="#000000">53</font></td>
            </tr>
          <% end %>

        </table>
        <br><br>

      </section>

      <!-- 内容2 -->

      <div class="section">

        <h2>２０２０年小浜池水位表</h2>

        <div class="sec_body">
          <p>
          <p><a href="/media/05095050_pdf_202113_radA0A11.pdf">小浜池水位表</a></p>

          </p>
        </div>

      </div>


      <!--申請書ダウンロード-->


      <!--関連ページ-->

      <div class="section">
        <h2>関連ページ</h2>
        <div class="sec_body">
          <ul>
            <li><a href="/rakujyu/shousai013480.html">小浜池過去の同月水位</a></li>
          </ul>
        </div>
      </div>


    </div><!-- 記事終わり(id="maincontent") -->

  </div><!-- end id:content -->

  <div id="footer">
    <p class="parkname">三島市立公園
      <ruby>
        <rb>楽寿園</rb>
        <rp>（</rp>
        <rt>らくじゅえん</rt>
        <rp>）</rp>
      </ruby>
    </p>
    <address>〒411-0036　静岡県三島市一番町19-3<br/>
      お問い合わせ先　楽寿園 電話 055-975-2570 FAX 055-975-8555
    </address>
  </div><!-- end id:footer -->
</div><!-- end id:wrap_rakujuen -->


<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="./v2/js/libs/v3_b35/uikit.min.js"></script>
<script src="./v2/js/common.js?v=20181126"></script>
</body>
</html>
